

*, ::after, ::before {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    }
    
    html {
    font-size: 62.5%

}



.laptop-wrap {
    top: 16rem;
    position: relative;
    background: url(http://i.stack.imgur.com/zZNgk.png) center center no-repeat;
   
    background-size: contain;
    padding: 1.9% 38.1% 2.8%;
    width: 100%; 
    
}

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        text-align: center;
        
    }
    
    li {
        display: inline-block;
       
    }
    
   li a {
        display: block;
        color: gray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        }
    
    li a:hover {
        background-color: #111;
    }

    .top-button-one {
        color:white;
        background-color: red;
        border-radius: 3px;
        padding: 8px 30px;
        margin: -7px;

       
    }

    .top-button-two {
        color:white;
        background-color:cornflowerblue;
        border-radius: 3px;
        padding: 8px 30px;
    }

    .container {
        /* background-color: blue; */
        background: url(images/black-background-image.jpg);
        height: 450px;
    }
    .title {
        margin: 5rem;
    }

    .text {
    text-align: center;
    color: whitesmoke; 
    font-family:Arial sans-serif;
    font-size: 25px;
    }

    .text-two{
        text-align: center;
        color:lightgrey; 
        font-family: garamond;
    }

    .btn-group {
        text-align: center;
    }

    .btn-one {
        background-color: red;
        color: white;
        border-radius: 3px;
        padding: 8px 30px;
       
    }

    .btn-two {
        background-color:cornflowerblue;
        color: white;
        border-radius: 3px;
        padding: 8px 30px;
    }

    h1,.last-container {
        text-align: center
    }
    h3 {
        color: grey;
    }
    p {
        text-align: center;
        color: gray;
        font-size: 1.5rem;

    }

   .box-1, .box-2, .box-3,.box-4 {
        display: inline-block;
        width: 10%;
        height: 300px;
        text-align: center;
        display: table-cell;
        padding: 8px;
         
    }

    .box-1:hover,.box-1:focus{
        box-shadow:lightgray;
        /* transform: translateY(-0.25em); */
        border: grey solid .25rem;
        background-color: lightgray
    }

    .box-2:hover,.box-2:focus{
        box-shadow:lightgray;
        /* transform: translateY(-0.25em); */
        border: grey solid .25rem;
        background-color: lightgray}

    .box-3:hover,.box-3:focus{
        box-shadow:lightgray;
        /* transform: translateY(-0.25em); */
        border: grey solid .25rem;
        background-color: lightgray}

    .box-4:hover{
        box-shadow:lightgray;
        /* transform: translateY(-0.25em); */
        border: grey solid .25rem;
        background-color: lightgray}

    .last-container {
        display: inline-block;
        width: 100%;
        height: 40rem;
        text-align: center;
        padding: 20px;
     

       
    }

    .bottom-bar {
        display: inline-block;
        height: 100px;
        width: 50rem;
        padding: 8px;

    }

    .last-one {
    
       padding: 8px;

          
        
    } 


    .blog li {
        font-size: 12px;
        width:20rem; 
        height:6rem;
   
    }
    .date {
        font-size: 10px;
        color: lightgrey
    }
    .blog {
    width: 30rem;
    height: 30rem;
    
     }
    .middle-p {
      
        font-size: 14px;
        width: 30rem;
        height: 30rem;
    }

    .tweets {
        width:30rem; 
       
        height: 30rem;
    }

    .holder {
        display: flex;
        justify-content:center;
    }

iframe {
    width: 300px;
    padding-left:4rem;
   padding-right: .5rem ;
   margin-top: 2rem;
   
}